{% extends "layout.html" %}

{% block heading %}
    Register
{% endblock %}

{% block body %}
	<!-- this is for messages error-->
	<!-- {% if error %}
		<p class=error><strong>Error:</strong> {{ error }}
	{% endif %} -->
    <form action="{{ url_for('index') }}" method="post">
		<div class="container">
    	<p>Please fill in this form to create an account.</p>
    	<hr>
    	<label for="in_usr_name"><b>Name</b></label>
	    <input type="text" placeholder="Enter Name" name="in_usr_name" required value={{ in_usr_name1 }}>

    	<label for="email"><b>Email</b></label>
		<input type="text" placeholder="Enter Email" name="email" required value={{ email1 }}>

	    <label for="psw"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="password" required>
	    
	    <label for="psw-repeat"><b>Repeat Password</b></label>
	    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
	    <button type="submit" class="registerbtn">Register</button>
	    <hr>
   		</div>
   		<div class="container signin">
	    	<p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a>.</p>
	  	</div>
	</form>
{% endblock %}
