{% extends "index.html" %}

{% block body %}
    {% if message %}
        <p class=error style="text-align: center;"><strong>Error:</strong> {{ message }}</p>
    {% endif %}
    <div id="login-form">
      <h1>Create an Account</h1>
        <fieldset class='text-white'>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {% if message %}
                    <p class=error><strong>Error:</strong> {{ message }}</p>
                {% endif %}
                <label for="user_name"><b>User name</b></label>
                <input type="text" placeholder="Enter user name" name="user_name" required>
                <br>
                <label for="first_name"><b>First name</b></label>
                <input type="text" placeholder="Enter first name" name="first_name" required>
                <br>
                <label for="last_name"><b>Last name</b></label>
                <input type="text" placeholder="Enter last name" name="last_name" required>
                <br>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br>
                <label for="password_2"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="password_2" required>
                <br>
                <input type="submit" value="Sign In">
            </form>
        </fieldset>
    </div> 
{% endblock %}
