{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ page_title }} Edit
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mb-3">Edit {{ page_title }} content</h2>
        <form action="{% url 'edit_page' page_title %}" method="post" id="edit_page_form">
                {% csrf_token %}
                {{ edit_page_form.as_p }}
                <input type="submit" value="Submit">
        </form>
        <button class="button" onClick='location.href="{% url 'entry_page' page_title  %}"'
                style="position: absolute; margin: 0 100px; margin-top: -29px">Cansel</button>
    </div>
{% endblock %}